/* Temas del segundo período*/

.texto{
   
    font-size: 25px;
    padding-top: 100px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("images.jpeg");
    
     

}
.titulo{
    font-size: 50px;
    text-align:center;


}
.img1{
height: 280px;
width: 387px;
background-image: url("image-19.jpg");
background-repeat: no-repeat;
float: left;

}
.titulo{
    font-size: 50px;
    color: rgb(226, 43, 119);
font-family: Georgia, 'Times New Roman', Times, serif;
   }