/* Temas del segundo período*/

.texto{
    font-size: 25px;
    padding-top: 100px;
    text-align: justify;
    color: black;
}
   
   
   
.principal{
   display: flex;
     
}
body{
    background-image: url(images.jpeg);
  


}
.titulo{
    font-size: 50px;
   color: rgb(226, 43, 119);
   font-family: Georgia, 'Times New Roman', Times, serif; 

 
}  
 .img1{
    height: 1300px;;
    width: 1300px; ;
    background-image: url(imagen.png);
    background-repeat: no-repeat; 
 } 

.img19{ 
    height: 280px;;
    width: 387px; ;
    background-image: url(image-19.jpg);
    background-repeat: no-repeat;  
    float: left;
}


.imginicio{
    width: 900px;
    height: 900px;
    background-image: url(INICIO.webp);
    background-repeat: no-repeat;
}


.socialesimg {   
    height: 900px;
    background-image: url(Socialesimg.jpeg);
    background-repeat: no-repeat;
}

.Max2{  
    width:800px ;
    height: 800px;
    background-image: url( maxresdefault.jpg);
    background-repeat: no-repeat;


} 

