/* Temas del segundo período*/

.texto{
   
    font-size: 25px;
    padding-top: 100px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("background-graphics-with-light-purple-white-black-gradients-use-designs-for-web-pages-apps-mobile-text-backgrounds-screens-wallpapers-decorations-and-art-design-elements-photo.jpg");
    

}
.titulo{
    font-size: 50px;
    text-align:center;


}
.img1{
height: 280px;
width: 387px;
background-image: url("image-19.jpg");
background-repeat: no-repeat;
float: left;

}
.titulo{
    font-size: 50px;
    color: blueviolet;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}